@{
    ViewData["Title"] = "Сторінка вітання";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>З допомогою цього аркуша ви зможете виконувати різні обчислення та графічні представлення.</p>
</div>
