
@{
    ViewData["Title"] = "Functions";
}

@model WebApp.Models.Function

<h1>Functions</h1>
<ul>
    <li><a href="function1">Function1</a></li>
    <li><a href="function2">Function2</a></li>
    <li><a href="function3">Function3</a></li>
    
</ul>

